.btn-base {
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
.btn-size-sm {
  padding: 6px 12px;
}
.btn-size-md {
  padding: 8px 16px;
}
.btn-size-xl {
  padding: 12px 22px;
}
.shadow {
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}
.no-shadow {
  box-shadow: none;
}
.btn-variants-default.default {
  background-color: #e0e0e0;
  color: #3f3f3f;
}
.btn-variants-default.primary {
  background-color: #2962ff;
  color: #fff;
}
.btn-variants-default.secondary {
  background-color: #455a64;
  color: #fff;
}
.btn-variants-default.danger {
  background-color: #d32f2f;
  color: #fff;
}
.btn-variants-outline.default {
  background-color: transparent;
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
}
.btn-variants-outline.primary {
  background-color: transparent;
  border: 1px solid #2962ff;
  color: #2962ff;
}
.btn-variants-outline.secondary {
  background-color: transparent;
  border: 1px solid #455a64;
  color: #455a64;
}
.btn-variants-outline.danger {
  background-color: transparent;
  border: 1px solid #d32f2f;
  color: #d32f2f;
}
.btn-variants-text.default {
  background-color: transparent;
  color: #3f3f3f;
}
.btn-variants-text.primary {
  background-color: transparent;
  color: #2962ff;
}

.btn-variants-text.secondary {
  background-color: transparent;
  color: #455a64;
}

.btn-variants-text.danger {
  background-color: transparent;
  color: #d32f2f;
}
